nav.sidebar
    //- User Section
    section.sidebar-header.d-flex.align-items-center.justify-content-center
        div.text-center
            img.img-fluid.rounded-circle(src='/images/ismael.png', alt='user img')
            p.h1 Ismael J Lopez
            p Administrator

    //- Menu Section
    section.main-menu
        p.sidebar-heading Main
        ul.list-unstyled
            li
                a(href='#home').menu-btn
                    i.fa.fa-home.fa-lg
                    p Home
            li
                a(href='#nodes').menu-btn
                    i.fa.fa-cubes
                    p Nodes

        p.sidebar-heading Support
        ul.list-unstyled
            li
                a(href='#report').menu-btn
                    i.fa.fa-bug.fa-lg
                    p Report Bug

header.header
    nav.navbar
        section.container-fluid
            div.d-flex.align-items-center.justify-content-between
                p.navbar-header Dashboard

                ul.list-unstyled.d-flex.flex-md-row.align-items-md-center
                    li.nav-item.dropdown
                        a#notifications(rel='nofollow', data-target='#', href='#', data-toggle='dropdown', aria-haspopup="true", aria-expanded="false").nav-link
                            i.fa.fa-bell
                        ul.dropdown-menu(aria-labelledby='notifications')
                            li
                                a.dropdown-item(rel='nofollow', href='#') Hello
                    li.nav-item
                        a(href='/login').nav-link
                            span.d-none.d-sm-inline-block Logout
                            i.fa.fa-external-link