extends layout

block layout-content
    //- div.View
    //-     h1.Banner BANNER CONTENT
    //-     div.Message
    //-     div.Title
    //-         h1 Food For Devs
    //-     span.Details DETAILS
    //-     div.NavButtons
    //-     a(href="/user")
    //-         div.NavButton USER
    div.View
        h1.test Hello
