
/*
 * Sidebar
 */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    text-align: left;
    background: #393836;
    color: #fff;
    z-index: 999;
    overflow-y: auto;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.sidebar .sidebar-header {
    background: #292929;
    padding: 14px;
    margin-bottom: 10px;
}

.sidebar .sidebar-header img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.sidebar p,
.sidebar a {
    font-family: 'Roboto';
}

p.h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.1;
    color: inherit;
}

.sidebar .sidebar-heading {
    font-weight: 700;
    color: #adb5bd;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin: 10px 0 10px 10px;
}

.sidebar li a {
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}

.sidebar li p {
    display: inline;
    margin-left: 10px;
}

.sidebar li i {
    width: 20px;
}

.sidebar li a:focus,
.sidebar li a:hover {
    background: #33b35a;
    color: #fff;
    text-decoration: none;
}

.sidebar li.active > a,
.sidebar li li.active > a {
    background: #2d9f50 !important;
}

/*
 *  Navbar (top)
 */
.navbar {
    background-color: #393836;
    width: 100%;
    height: 75px;
    padding-left: 250px;
    color: #fff;
}

.navbar div {
    width: 100%;
}

p.navbar-header {
    position: relative;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.1;
    color: inherit;
}

.navbar ul {
    margin-bottom: 0;
}

.navbar li:hover {
    background-color: #2d9f50;
}

.navbar li a {
    color: inherit;
    font-family: inherit;
    font-size: 1.1rem;
    font-weight: 600;
}

.navbar li span {
    margin-right: 12px;
}