body {
    background-color: #F4F7FA;
}
/*
 * Sidebar
 */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    text-align: left;
    background: #393836;
    color: #fff;
    z-index: 999;
    overflow-y: auto;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.sidebar .sidebar-header {
    background: #292929;
    padding: 14px;
    margin-bottom: 10px;
}

.sidebar .sidebar-header img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.sidebar p,
.sidebar a {
    font-family: 'Roboto';
}

p.h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.1;
    color: inherit;
}

.sidebar .sidebar-heading {
    font-weight: 700;
    color: #adb5bd;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin: 10px 0 10px 10px;
}

.sidebar li a {
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}

.sidebar li p {
    display: inline;
    margin-left: 10px;
}

.sidebar li i {
    width: 20px;
}

.sidebar li a:focus,
.sidebar li a:hover {
    /* background: #33b35a; */
    background: #54bfc7;
    color: #fff;
    text-decoration: none;
}

.sidebar li.active > a,
.sidebar li li.active > a {
    /* background: #2d9f50 !important; */
    background: #2d9b9f !important;
}

/*
 *  Navbar (top)
 */
.navbar {
    background-color: #393836;
    width: 100%;
    height: 75px;
    padding-left: 250px;
    color: #fff;
}

.navbar div {
    width: 100%;
}

p.navbar-header {
    position: relative;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.1;
    color: inherit;
}

.navbar ul {
    margin-bottom: 0;
}

.navbar li:hover {
    /* background-color: #2d9f50; */
    background-color: #54bfc7;
}

.navbar li a {
    color: inherit;
    font-family: inherit;
    font-size: 1.1rem;
    font-weight: 600;
}

.navbar li span {
    margin-right: 12px;
}

/*
 *  Main Content
 */
main {
    margin-top: 25px;
    padding-left: 275px;
}

/*
 *  tables
 */
.table {
    margin-bottom: 0;
    color: #666;
}

.table td,
.table th {
    border-color: #dee2e6;
}

.table thead th {
    border: none;
}

.table-striped tbody tr {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

/*
 *  cards
 */
.card {
    background-color: #fff;
    border: 0 solid #eee;
    border-radius: 0;
    margin-bottom: 30px;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.card-header .h1 {
    margin-bottom: 0;
}

.card-body {
    padding: 1.25rem;
}

.card-header {
    padding: 1rem 1.25rem;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.card-header-transparent {
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: none;
}

/* buttons */
.btn-primary {
    background-color: #54bfc7;
    border-color: #54bfc7;
}

.btn-primary:hover {
    background-color: #2d9b9f;
    border-color: #2d9b9f;
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: #2d9b9f;
    border-color: #2d9b9f;
}

.btn-primary:focus,
.btn-primary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem #298d91;
    box-shadow: 0 0 0 0.2rem #298d91;
}

.btn-primary:not([disabled]):not(.disabled):active,
.btn-primary:not([disabled]):not(.disabled).active {
    background-color: #2d9b9f;
    border-color: #2d9b9f;
    -webkit-box-shadow: 0 0 0 0.2rem #2d9b9f;
    box-shadow: 0 0 0 0.2rem #2d9b9f;
}

.btn-danger {
    color: color-yiq(#dc3545);
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    color: color-yiq(#c82333);
    background-color: #c82333;
    border-color: #bd2130;
}

.btn-danger:focus, .btn-danger.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-danger.disabled, .btn-danger:disabled {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:not([disabled]):not(.disabled):active, .btn-danger:not([disabled]):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
    color: color-yiq(#bd2130);
    background-color: #bd2130;
    border-color: #b21f2d;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.hidden {
    display
}