div#logs.card
    header.card-header.d-flex.align-items-center
        p.h1 Logs
    div.card-body
        p Latest Messages
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa praesentium quae incidunt eos consectetur magni ullam a necessitatibus aliquam in dignissimos ex, repudiandae enim ducimus voluptatem libero pariatur, facere laborum. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus aut veniam itaque fugit. Alias vel commodi at delectus