div#system.card
    header.card-header.d-flex.align-items-center
        p.h1 Server Info
    div.card-body
        p Address: #{address}
        p Uptime: 12 hours, 4 minutes, 40 seconds
        p Last Updated: 56 seconds ago.
        a.btn.btn-danger(href='/disconnect') Disconnect